- if question.question_type == Question::QUESTION_TYPE_SHORT_TEXT
  %p= truncate(answer.text, length: 100)
- elsif question.question_type == Question::QUESTION_TYPE_LONG_TEXT
  %p= truncate(answer.text, length: 100)
- elsif question.question_type == Question::QUESTION_TYPE_CHECKBOXES
  %ul
    - answer.choices_text.each do |choice|
      %li= choice
- elsif question.question_type == Question::QUESTION_TYPE_MULTIPLE_CHOICE
  %p #{answer.choices_text.join(', ')}
