- if race.election.internal?
  = render partial: 'candidacies/internal_table', locals: { candidacies: candidacies }
- else
  = render partial: 'candidacies/external_table', locals: { candidacies: candidacies }
