%table.table
  %tr.row
    %th Subject
    %th To
    %th Actions
  - messages.each do |message|
    %tr.row
      %td= link_to(message.subject, message)
      %td= message.to
      %td
        = link_to("Edit", edit_message_path(message), class: 'btn btn-sm btn-primary')
