= f.input :unsubscribe_type, as: :hidden
= f.input :member_id, as: :hidden
= f.input :control_type, label: "For " + f.object.unsubscribe_type.pluralize.capitalize, as: :select, collection: MessageControl::CONTROL_TYPES, include_blank: false, input_html: { disabled: disabled }
