
- if Time.zone.now < race.vote_end_time
  Election on:
  %strong #{race.election.vote_date}
  from
  %strong= race.vote_start_time.strftime("%H:%M")
  to
  %strong= race.vote_end_time.strftime("%H:%M")
- else
  Election was on:
  %strong #{race.election.vote_date}
