= render partial: 'table', locals: { election: @election, races: @races }

.actions
  - params = @chapter ? {chapter_id: @chapter.id} : {}
  = link_to("Add Race", new_election_race_path(@election, params), class: 'btn btn-sm btn-primary')
