- if user.all_roles.present?
  %div
    %span.strong Roles:
    - user.all_roles.each_with_index do |role, index|
      - if index != user.roles.size - 1
        #{link_to(role.name, role)},
      - else
        #{link_to(role.name, role)}
    %span.strong As:
    #{link_to("Combined role", user.role)}
