%h2 Profile

= semantic_form_for @user do |f|
  = f.semantic_fields_for :member do |ff|
    = render partial: 'members/user_details', locals: { f: ff }
    = f.submit class: 'btn btn-sm btn-primary btn-with-padding'
