
%h2 Welcome to the OurRevolutionMN member portal

%p Membership is easy and necessary if you want to:
%ul
  %li vote in our elections
  %li participate on committees
  %li serve on the board
  %li find OR volunteer events in your area
  %li get information on local candidates’ stances on OR platform issues (COMING SOON)
  %li rate local candidates on local issues (COMING SOON)

%p We won’t require naming rights to your first born, but we do need you to fill out our membership form, agree to our by-laws, and code of conduct.

= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-sm btn-primary'
/= link_to 'Log In', new_user_session_path, class: 'btn btn-sm btn-secondary'
