
%h2 Welcome to Open-Org, your portal to transparent, accountable organizing

%p It allows users to become members of organizations and
%ul
  %li vote in their elections
  %li participate on committees
  %li serve on their board
  %li find OR volunteer events in your area
  %li help us crowdsource information about election races in your local area

= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-sm btn-primary'
= link_to 'Log In', new_user_session_path, class: 'btn btn-sm btn-secondary'
