%h2 Welcome to the OurRevolutionMN member portal

%p Here you can participate in OurRevolutionMN to shape is present and its future.

%p
  Once you sign up with us, you will be asked to agree to our bylaws and by doing so, become
  a full member.

= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-sm btn-success'
= link_to 'Log In', new_user_session_path, class: 'btn btn-sm btn-primary'
