%h2 Contact Banks

- if @contact_banks.present?
  %table.table
    %tr
      %th Name
      %th Created
    - @contact_banks.each do |contact_bank|
      %tr
        %td= link_to(contact_bank.name, contact_bank)
        %td= contact_bank.created_at.strftime("%m/%d/%Y")
- else
  %p You are not part of any contact banks
