%h1 Organizational By-Laws of
Our Revolution MN

%h1 ARTICLE I. NAME OF ORGANIZATION
%p The name of the Organization is Our Revolution MN, also doing business as “ORMN”, “Our Rev MN”, and “Our Revolution Minnesota”. 
%h1 ARTICLE II. PURPOSE
%h2 Section 1. Nonprofit Purpose
%p This Organization shall be organized under the laws of the State of Minnesota as a 501(c)(4), or such corresponding section of a future federal tax code.
%h2 Section 2. Specific Purpose
%p Our Revolution MN adheres to the social and political organizing movement envisioned by Senator Bernie Sanders, which includes but is not limited to the following activities: 
%ol
  %li organizing progressive individuals and organization around a common set of progressive issues; 
  %li advocating for progressive public policy and social change; and, 
  %li identifying and supporting progressive candidates at a grassroots level in a manner consistent with its 501(c)(4) status. 
%p The specific objectives and purpose of this organization shall be:
%ul
  %li To develop, coordinate, and support a network of progressive activists within and beyond the State of Minnesota.
  %li To provide opportunities for members to engage in progressive grassroots organizing around inequalities arising from social, racial, gender-bias, environmental, economic, and political injustices;
  %li To identify and promote progressive individuals for office at the local and statewide level;
  %li To provide informational and political trainings for progressive activists and candidates;
  %li To develop and support Local Organizing Units (hereinafter, “LOUs” or “Affiliates”) throughout the State of Minnesota;
  %li To sponsor, host, and/or participate in events and activities that promote progressive candidates and policies;
  %li To support and emphasize a “small donor” campaign strategy modeled after Sen. Sanders’ 2016 Presidential campaign strategy.

%h1 ARTICLE III. MEMBERSHIP
%h2 Section 1. Eligibility for Membership
%p Membership shall be determined and created through affirmative agreement of the purpose statement of Article II, Section 2 and an affirmative Opt-In to membership, code of conduct, and bylaws. 
%p “Active membership” shall be defined as compliance with the organization’s policies, by-laws, and other governing documents, and, attendance at three (3) of the previous five (5) meetings published and held at either the state or local level.
%p Voting membership shall be open to any active member in good standing registered at least 72 hours in advance of any Our Revolution MN Board of Directors (hereinafter, “Board of Directors”) elections to be eligible to vote.  In the event that individuals are unable to register online as members of ORMN, registrations can be taken by telephone or mail through their respective Local Organizing Units (hereinafter, “LOUs” or “LOUs”), or to the Board of Directors where no LOU exists in the individual’s area, subject to registration in advance of 72 hours of the election date. 
%p 	Candidates for positions on the Board of Directors shall be eligible per the terms expressed herein, and, registered at least fourteen (14) days in advance of statewide elections.
%h2 Section 2. Suggested Donation
%p The amount of a suggested donation for annual dues shall be $27 per year.  At no time will any individual be denied membership based on ability to pay.
%h2 Section 3. Resignation and Termination
%p An ORMN member may resign by submitting resignation to their organizing local unit or directly to Board@ourrevolutionmn.com. Resignation shall not relieve a member of unpaid dues, or other charges previously accrued. 
%p A member can have their membership terminated by a majority vote of the Board of Directors. 
%h2 Section 4. Non-voting Membership
%p The Board of Directors shall have the authority to establish and define non-voting categories of membership.
%h1 ARTICLE IV. MEETINGS OF THE BOARD OF DIRECTORS
%h2 Section 1. Regular Meetings
%p Regular meetings of the Board of Directors shall be held at a time and place designated by the Chairperson, and, shall occur not less than once per month. 
%h2 Section 2. Annual Meetings
%p A meeting of the Our Revolution MN membership body shall take place annually, with the specific date, time and location of designated by the Chairperson of the ORMN Board of Directors.  At the annual meeting voting members shall elect Directors, receive reports on the activities of the association, and determine the direction of the association for the coming two (2) year period. 
%p The Board of Directors shall select an Executive Committee as defined in Article V.
%h2 Section 3. Special Meetings
%p Special meetings may be called by a majority of the ORMN Executive Committee, or a majority vote of Directors the Board of Directors.  A petition signed by thirty-three percent (33%) of voting members may also call a special meeting. 
%h2 Section 4. Notice of Meetings
%p Notice of meetings shall be published electronically, with effective notice occurring by means of an email to members, and, publication on ORMN media organs.  Notice shall be distributed at least ten (10) business days in advance of the meeting for regular and annual meetings.  Special Meetings shall be called with three (3) calendar day notice, or, in the case of time-sensitive matters not less than twenty-four (24) hour notice .
%h2 Section 5. Quorum 
%p Quorum for a meeting of the Board of Directors shall consist of a simple majority of Directors. Once established, quorum shall remain effective, regardless of continuing attendance, until adjournment. 
%p The Secretary shall record roll of Directors present members, including members attending via remote means, including telephone or online media.  
%h2 Section 6.  Voting
%p Except as otherwise described herein, following confirmation of quorum, all issues shall be decided by a simple majority vote.
%h2 Section 7: Meeting Management
%p 	All meetings of ORMN, including its Executive Council, Board of Directors, and committees in any form, shall be governed by the most current edition of Robert’s Rules of Order, applied in a manner consistent with these By-Laws.
%h1 ARTICLE V. AUTHORITY OF BOARD OF DIRECTORS
%h2 Section 1. General Powers 
%p The general affairs of the Organization shall vest to the Board of Directors, which include policy positions, formal recognition of LOUs, and promulgation of two-year agendas chartering the growth and aspirations of the Organization.   
%p The day-to-day management of the Organization shall be governed by the Chairperson, and, the Executive Committee of the Board of Directors.  These entities shall possess sole authority and responsibility for such management, including but not limited to: implementation of policy positions, formation and formalization of contractual relationships, establishment and provisional recognition of LOUs, and, management of organizational assets, both tangible and intellectual.  All other functions and authority not expressly stated herein shall be delegated to the Executive Committee.
%h2 Section 2. Inaugural Election
%p The 1st Annual Meeting of members will take place during the month of July, 2017, and, shall include an election by voting members for candidates to the Board of Directors.  Until installation of a permanent Board of Directors, the Acting Board shall govern consistent with its practices to date.
%p Upon election, Directors shall immediately assume office at the conclusion of the annual meeting.  Directors shall continue in office until expiration of their active term and election of successor(s), through resignation, or removal from office.  
%h2 Section 3: Number, Tenure, Requirements, and Qualifications
%p Membership to the Board of Directors shall be fixed from time-to-time by the Board Directors but shall consist of no less than five (5) members and nor more than nineteen (19) members.  Directors shall be elected to two (2) year terms. 
%p Election to the Board of Directors shall be determined by a vote of ORMN voting members, with administration of Board elections delegated to an “Election Commission” consisting of the Chairperson, Vice-Chair, Secretary, three (3) members of the Board of Directors, the acting leads of the standing ORMN committees, and, such other appointments as determined by the Executive Committee not to exceed three (3) additional members.
%p Upon election, the Board of Directors shall designate an Executive Committee, derived from the Board  membership, to include the following officers: the Chairperson, the Vice-Chairperson, the Secretary, and the Treasurer.  The membership of the Board of Directors shall be geographically diverse, and at all times practicable shall be composed of not less than 50% of its membership from Directors with a principal place of residence within Minnesota Congressional Districts 1, 2, 6, 7, and 8. 
%p Composition of the Board of Directors shall be, at all times practical, reflective of its membership and the people of the State of Minnesota. Therefore, ORMN encourages candidates from diverse areas of interest and heritage. In that spirit, the Board of Directors shall possess authority to appoint up to three (3) voting members from historically marginalized backgrounds, including but not limited to: persons of color, indigenous and tribal members, low-income, non-gender binary identification, or, individuals under the age of 30. 
%p In the event of vacancies, the Chairperson shall have authority to make temporary appointments to serve until a vote for permanent placement by the Board of Directors.  Candidates for appointment to permanent placement upon the Board of Directors and/or the Executive Council shall be approved by a majority vote of the Directors.  
%p At no time shall two or more members of the Board of Directors may serve on the Board of Directors at the same time that are related by blood, or, civil partnership or marriage, within the second degree of consanguinity or affinity.
%p Each candidate of the Board of Directors shall be a member of ORMN for at least six (6) months.  Eligibility to stand for candidacy to the first elected Board of Directors shall be open to members who are active members for at least one (1) months. 
%p First-time members of the Board of Directors shall serve an initial one-year term.  At the conclusion of an initial one-year term, Directors standing for re-election to the Board of Directors shall serve a term of two-year.  Board members shall be eligible to serve three (3) consecutive elected terms.
%p To the extent practicable, elected terms shall be staggered so that at the time of each annual meeting approximately one-third (1/3) of all members of the Board of Directors shall be subject to election.
%h2 Section 4. Regular and Annual Meetings
%p Annual meetings of the Board of Directors and membership shall be held during the summer (June, July, and August) each calendar year at a location designated by the Executive Committee of the Board of Directors.  
%p Regular meetings of the Board of Directors shall occur at a minimum of once per quarter, unless good cause be shown for delay. The Executive Committee shall provide the time and place for regular meetings of the Board.  Notice of regular meetings shall be sent to all members of the Board of Directors not less than seven (7) calendar days prior to the meeting date.  Each member of the Board of Directors shall attend at least three (3) quarterly meetings of the Board per year, less requests for excused absences sent via notice to the Secretary.  
%h2 Section 5. Special Meetings
%p Special meetings of the Board of Directors may be called by or at the request of the Chairperson, or, a simple majority of members of the Board of Directors.  
%p The party or parties calling a special meetings of the Board of Directors shall fix a time, date, and location of the special meeting of the Board.
%h2 Section 6. Notice for Special Meetings
%p Notice of any special meeting of the Board of Directors shall be provided at least three (3) days in advance of the meeting by telephone, facsimile, email, or by written notice.  Neither the business to be transacted at, nor the purpose of, any regular meeting of the Board of Directors need be specified in the notice or waiver of notice of such meeting, unless specifically required by law or by these by-laws. 
%h2 Section 7. Forfeiture
%p Any Director failing to fulfill requirements as set forth in Section 2 of this Article by September 1st shall forfeit their seat on the Board.  
%p The Secretary shall notify the Director in writing that the seat has been declared vacant, and the Board of Directors may forthwith immediately proceed to fill the vacancy.  Members of the Board of Directors who are removed for failure to meet any or all of the requirements of Section 2 of this Article are not entitled to vote at the annual meeting and are not entitled to the procedure outlined in Section 13 of these By-Laws.
%h2 Section 8. Vacancies
%p Vacancies upon the Board of Directors shall be filled without undue delay by a majority vote of the remaining members of the Board of Directors.  During the interim the Chairperson shall have authority to appoint temporary Directors to fulfill position on the Board. 
%h2 Section 9. Compensation
%p Members of the Board of Directors shall not receive salary for their services  as Directors.  Reasonable per diem and reimbursements shall be set by the Executive Committee.
%h2 Section 10. Confidentiality
%p Directors shall not discuss or disclose sensitive, proprietary, or other confidential information about the Organization or its activities to any person or entity unless such information is already a matter of public knowledge, such person or entity has a need to know, or the disclosure of such information is in furtherance of the Organization purposes, or can reasonably be expected to benefit the Organization.  
%p Directors shall use discretion and good business judgment in discussing the affairs of the Organization with third parties.  Without limiting the foregoing, Directors may discuss upcoming fundraisers and the purposes and functions of the Organization.
%p Upon appointment or election to the Board, each Director shall execute a confidentiality agreement consistent herewith.
%h2 Section 11. Advisory Council
%p The Board of Directors may, at is discretion, create Advisory Council whose members shall be elected by the members of the Board of Directors.  Advisory Council members shall have no voting privileges, nor obligations for attendance at regular meetings of the Board.  Advisory Council members may attend said meetings at the invitation of a member of the Board of Directors.  
%p Members of the Advisory Council shall possess the desire to serve the community and support the work of the Organization by providing expertise and professional knowledge.  Members of the Advisory Council shall comply with the confidentiality policy set forth above. 
%h2 Section 12. Removal.		
%p Any member of the Board of Directors or members of the Advisory Council may be removed with cause at any time, by vote of three-quarters (3/4) of the members of the Board of Directors, if, in their judgment, the best interest of the Organization would be served thereby.  Each member of the Board of Directors must receive written notice of the proposed removal at least ten (10) days in advance of such action.  Any individual who has been removed as a member of the Board of Directors shall immediately be removed from office.
%p Members of the Board of Directors who are removed for failure to meet the requirements of Section 2 of this Article forfeit their positions on the Board pursuant to Section 7 of this Article, and are not entitled to the removal procedure outlined herein. 
%h1 ARTICLE VI. OFFICERS
%p The officers of the Board of Directors shall be the Chair, Vice-Chair, Secretary and Treasurer. All officers must have the status of active members.
%h2 Section 1. Chairperson
%p The Chairperson shall preside at all meetings of the membership. The Chairperson shall have the following duties:
%ul
  %li a. Presiding over all meetings of the Executive Committee, and, the Board of Directors;
  %li b. Chief Parliamentarian;
  %li c. Establishing the agenda for meetings of the Executive Committee, and, the Board of Directors;
  %li d. Supervisory authority over implementation of all orders and resolutions of the Advisory Board are brought to the Advisory Board;
  %li e. Supervisory authority over the Executive Officers of this Organization and responsibility to assure duties are properly performed;
  %li f. Reporting of the program for the fiscal year to the Advisory Board and members at their annual meetings, and from time to time, shall report to the Board all matters that may affect this program; 
  %li g. Serving as an non-voting member of the Board of Directors, and, ORMN standing committees, with exception of casting a ballot in the event of a deadlocked vote; and,
  %li h. Such other and further power and duties usually vested in the office of the Chairperson, or, as necessary in response to ad hoc needs or emergency circumstances, as determined by the Chairperson.
%p 
%h2 Section 2. Vice-Chairperson
%p The Vice-Chairperson shall be vested with the powers and duties of the Chairperson during the absence of the latter.  In addition to these responsibilities, the Vice-Chair duties include:
%ul
  %li a. Vice-Parliamentarian, serving in absence of the Chairperson; and,
  %li b. Such other duties as may, from time to time, be determined by the delegated by the Chair, voted upon by the Executive Committee, or requested by the Advisory Board.
%p 
%h2 Section 3. Secretary
%p The Secretary shall attend all meetings of the Executive Committee, and, the Board of Directors. The Secretary’s duties shall consist of:
%ul
  %li a. Recording votes and production of minutes of all proceedings, and, compiling the same in a ledger for institutional memory;
  %li b. Arranging, in concert with the Chairperson, all meetings of the Executive Board and Board of Directors, including the annual meeting of the organization;
  %li c. Composing and distributing notice of all Executive Board and Board of Director meetings, and, maintaining a system of reservations for such meetings; and,
  %li d. Composing and distributing official correspondence from the Executive Board, the Board of Directors, or as may be prescribed by the Chairperson.
%p 
%h2 Section 4. Treasurer
%p The Treasurer’s duties shall include:
%ul
  %li Submitting for the approval of all expenditures of funds raised by the Advisory Board, proposed capital expenditures (equipment and furniture), by the staff of the agency;
  %li Maintaining up-to-date records of current financials, and, compiling a financial report for submission to the Board of Directors prior to each, meeting, and, upon request.;
  %li Auditing authority for inspection of the financial accounts within the control of Our Revolution MN, including budgets and legal reporting;
  %li It shall be the duty of the Treasurer to assist in direct audits of the funds of the program according to funding source guidelines and generally accepted accounting principles.
  %li Such other and further duties prescribed by the Advisory Board, or Chairperson under whose supervision he/she shall be.
%p 
%h2 Section 5. Election of Officers
%p Immediately following installation of a Board of Directors at the annual meeting, Directors shall vote on Executive Office candidates. Officers shall serve tenured terms consistent with Article V, Section III.
%h2 Section 6. Removal of Officers
%p The Board of Directors, provided appropriate notice and with the concurrence of 75% of the full Board of Directors, may remove an Executive Officer and designate a successor for the remaining portion of the term. Notice of such motion for removal shall be given to Directors and the Officer in writing twenty (20) days prior to the meeting at which motion shall be presented, and, shall set forth the reasoning animating the motion.
%p No Executive Officer of the Board of Directors shall be removed prior to administrative review.  
%h2 Section 7. Vacancies
%p In the event of vacancies, the Chairperson shall possess authority to make temporary appointments to fill such positions.  The Board of Directors shall also be responsible for nominating persons for permanent placement to fill vacancies which occur between annual meetings, including those of Executive Officers.  Nominations shall be sent in writing to members of the Board of Directors at least two (2) weeks prior to the meeting at which a vote will be held. Members so elected shall hold office for the unexpired term from which such vacancy occurred, or until the next Annual Meeting, whichever should occur first.
%h1 ARTICLE VII. COMMITTEES
%h2 Section 1. Committee Formation
%p The Executive Committee shall create committees as needed, such as fundraising, communications, IT/Data collection, Reform, etc. The Board Chairperson shall appoint committee chairs, subject to ratification by the Board of Directors at the next regular meeting following such appointment. 
%h2 Section 2. Executive Committee
%p The Executive Officers serve as the members of the Executive Committee.  Except for the power to amend the Organization’s Bylaws, the Executive Committee shall possess all the powers and authority of the Board of Directors in the intervals between meetings of the Board of Directors, and is subject to the direction and control of the full Board. 
%h2 Section 3. Finance Committee
%p The Treasurer is the chair of the Finance Committee, which includes two other Board members. The Finance Committee is responsible for developing and reviewing fiscal procedures, fundraising plans, and the annual budget with staff and other Board members. The Board must approve the budget and all expenditures must be within budget. Any major change in the budget must be approved by the Board or the Executive Committee. 
%p The Treasurer is responsible for maintaining control over the Organizations banking and investment (if any) accounts. A separate member of the finance committee shall to be appointed as a joint signer and authorized party on all Organization banking and/or investment accounts. Monthly statements are to be available to both the Treasurer and backup finance committee member.  
%p The organization’s fiscal year begins January 1st, unless otherwise established by the Executive Committee. Quarterly reports shall be submitted to the Board of Directors showing income, expenditures, and pending income, with the financial records of the organization shall be made available to Directors for inspection. 
%h1 ARTICLE VIII. CORPORATE STAFF
%h2 Section 1: Executive Director
%p The Board of Directors, at its discretion, may hire an Executive Director who shall serve at the will of the Board.  
%p Unless otherwise defined by the Board, the authority of the Executive Director may include immediate and overall supervision of the operations of the Organization; direction of the day-to-day business of the Organization; maintenance of the properties of the Organization; hiring, discharging, and affixing salaries and other compensation, if any, of paid staff members employed under the Executive Director’s supervision, and perform such additional duties as may be directed by the Executive Committee or the Board of Directors.  No officer, Executive Officer or Director may individually instruct the Executive Director or any other staff employee.  The Executive Director shall make such reports at the Board and Executive Committee meetings as shall be required by the Chairperson or the Board.  The Executive Director shall be an ad-hoc member of all committees.
%p The Executive Director may not be related by blood or marriage/domestic partnership within the second degree of consanguinity or affinity to any member of the Board of Directors or Advisory Council.  The Executive Director may be hired at any meeting of the Board of Directors by a majority vote and shall serve until removed by the Board of Directors upon an affirmative vote of three-quarters (3/4) of the members present at any meeting of the Board Directors.  Such removal may be with or without cause.  Nothing herein shall confer any compensation or other rights on any Executive Director, who shall remain an employee terminable at will, as provided in this Section. 
%h1 ARTICLE IX. – CONFLICT OF INTEREST AND COMPENSATION
%h2 Section 1: Purpose
%p The purpose of the conflict of interest policy is to protect this organization’s interest when contemplating entering into a contractual agreements or other arrangements that may result in emoluments to the undisclosed interest of a member of the organization. This policy is intended to supplement but not replace any applicable state and federal laws governing conflict of interest applicable to nonprofit and charitable organizations.
%h2 Section 2: Definitions
%ul
  %li a. Interested Party:  Any director, officer, or member of a committee with governing authority, who has a direct or indirect financial interest, as defined below, and, any member of the organization who possesses a pecuniary or financial interest in the outcome ORMN contractual agreements or other arrangements, is an Interested Party. 
  %li
    b. Financial Interest:  An individual possesses a financial interest if the person has, directly or indirectly, through business, investment, or family:
    %ul
      %li 1. An ownership or investment interest in any entity with which the Organization has a transaction or arrangement,
      %li 2. A compensation arrangement with the Organization or with any entity or individual with which the Organization has a transaction or arrangement, or,
      %li 3. A potential ownership or investment interest in, or compensation arrangement with, any entity or individual with which the Organization is negotiating a transaction or arrangement; and,
      %li 4. Compensation includes direct and indirect remuneration, as well as gifts or favors that are not insubstantial.
  %li c. A financial interest is not necessarily a conflict of interest: Under Article III, Section 2, a person who has a financial interest may also have a conflict of interest if the appropriate governing Board or committee decides that a conflict of interest exists.  
  %li d. In the event of a known but undisclosed financial interest, such conduct will be presumptively deemed a conflict of interest if learned by the Board of Directors after the fact. 
%h2 Section 3. Procedures
%ul
  %li a. Duty to Disclose. In connection with any actual or potential conflict of interest, an Interested Party must disclose the existence of the financial interest, and, be given opportunity to disclose all material facts to the Executive Committee, and, members of committees with interest in the proposed transaction or arrangement.
  %li b. Determining Whether a Conflict of Interest Exists. After disclosure of the financial interest and all material facts, and after any discussion with the Interested Party, the Interested Party shall take leave of reviewing entity while the determination of a conflict of interest is discussed. In the event of a vote, the remaining Board or committee members shall decide if a conflict of interest exists, and if determined to exist, whether remedies removing or ameliorating the conflict may be pursued, as described below.
  %li
    c. Procedures for Addressing the Conflict of Interest:
    %ul
      %li 1. An Interested Party may, at their election, make a presentation to the reviewing entity. After presentation, the interested shall leave the meeting during the discussion of, and the vote on, the transaction or arrangement involving the possible conflict of interest.
      %li 2. The Chairperson of the governing Board or committee shall, if appropriate, appoint a disinterested party or committee to investigate alternatives to the proposed transaction or arrangement.
      %li 3. After exercising due diligence, the governing Board or committee shall determine whether the Organization can obtain with reasonable efforts a more advantageous transaction or arrangement from a person or entity that would not give rise to a conflict of interest.
      %li 4. If a more advantageous transaction or arrangement is not reasonably possible under circumstances not producing a conflict of interest, the governing Board or committee shall determine by a majority vote of the disinterested directors whether the transaction or arrangement is in the Organization’s best interest, for its own benefit, and whether it is fair and reasonable. In conformity with the above determination it shall make its decision as to whether to enter into the transaction or arrangement.
  %li
    Violations of the Conflicts of Interest Policy
    %ul
      %li 1. If the governing Board or committee has reasonable cause to believe a member has failed to disclose actual or possible conflicts of interest, it shall inform the member of the basis for such belief and afford the member an opportunity to explain the alleged failure to disclose.
      %li 2. If, after hearing the member’s response and after making further investigation as warranted by the circumstances, the governing Board or committee determines the member has failed to disclose an actual or possible conflict of interest, it shall take appropriate disciplinary and corrective action.
%p 
%h2 Section 4. Records of Proceedings
%p The official record of such proceedings shall contain:
%ul
  %li
    %p a. The names of the persons who disclosed or otherwise were found to have a financial interest in connection with an actual or possible conflict of interest, the nature of the financial interest, any action taken to determine whether a conflict of interest was present, and the governing Board and/or committee decision as to whether a conflict of interest existed.
    %p The names of the persons who were present for discussions and votes relating to the transaction or arrangement, the content of the discussion, including any alternatives to the proposed transaction or arrangement, and a record of any votes taken in connection with the proceedings.
%p 
%h2 Section 5. Compensation
%ul
  %li a. A voting member of the governing Board who receives compensation, directly or indirectly, from the Organization for services is precluded from voting on matters pertaining to that member’s compensation.
  %li b. A voting member of any committee whose jurisdiction includes compensation matters and who receives compensation, directly or indirectly, from the Organization for services is precluded from voting on matters pertaining to that member’s compensation.
  %li c. No voting member of the governing Board or any committee whose jurisdiction includes compensation matters and who receives compensation, directly or indirectly, from the Organization, either individually or collectively, is prohibited from providing information to any committee regarding compensation.
%p 
%h2 Section 6. Annual Statements
%p Each Officer, Director, or member of a committee with governing Board delegated powers shall annually sign a statement which affirms such person:
%ul
  %li a. Has received a copy of the conflicts of interest policy;
  %li b. Has read and understands the policy;
  %li c. Has agreed to comply with the policy; and
  %li d. Understands the Organization is charitable in designation, and, in order to maintain its federal tax exemption, it must engage primarily in activities satisfying one or more of its tax-exempt purposes.
%p 
%h2 Section 7. Periodic Reviews
%p To ensure the Organization operates in a manner consistent with charitable purposes and does not engage in activities that could jeopardize its tax-exempt status, periodic reviews shall be conducted. The periodic reviews shall, at a minimum, include the following subjects:
%ul
  %li a. Whether compensation arrangements and benefits are reasonable, based on competent survey information, and the result of arm’s length bargaining.
  %li b. Whether partnerships, joint ventures, and arrangements with management organizations conform to the Organization’s written policies, are properly recorded, reflect reasonable investment or payments for goods and services, further charitable purposes and do not result in inurement, impermissible private benefit or in an excess benefit transaction.
%p To ensure the Organization operates in a manner consistent with its vision and mission, the following periodic review may be conducted.
%ul
  %li a. Strategic Plan
  %li b. Annual Operating Plan
%p 
%h2 Section 8. Use of Outside Experts
%p When conducting periodic reviews as provided for in Article VII, or in the conduct of its business, the Organization may , but need not, use outside advisors. If outside experts are used, their use shall not relieve the governing Board of its responsibility for ensuring periodic reviews are conducted.
%h2 Section 9. Local Chapter Governance
%p Individual groups requesting membership as a recognized local unit of ORMN must complete a Memorandum of Understanding (MOU) outlining the responsibilities and privileges accruing to each party. 
%p The document is to be executed by the chair of ORMN and the chair of the local unit body.  The agreement may be terminated as per the terms in the MOU by either party.
%h1 ARTICLE X. INDEMNIFICATION
%h2 Section 1. General
%p To the full extent authorized under the laws of the State of MN, the Organization shall indemnify any director, officer, employee, or agent, or former member, director, officer, employee, or agent of the Organization, or any person who may have served at the Organization’s request as a director or officer of another Organization (each of the foregoing members, directors, officers, employees, agents, and persons is referred to in this Article individually as an “indemnitee”), against expenses actually and necessarily incurred by such indemnitee in connection with the defense of any action, suit, or proceeding in which that indemnitee is made a party by reason of being or having been such member, director, officer, employee, or agent, except in relation to matters as to which that indemnitee shall have been adjudged in such action, suit, or proceeding to be liable for negligence or misconduct in the performance of a duty. 
%p The foregoing indemnification shall not be deemed exclusive of any other rights to which an indemnitee may be entitled under any bylaw, agreement, resolution of the Board of Directors, or otherwise applicable as a matter of local, state, or federal law.
%h2 Section 2. Expenses
%p Expenses incurred in defending a civil or criminal action, suit, or proceeding, including but not limited to costs, fees, and reasonable attorneys’ fees, may be paid by the Organization in advance of the final disposition of such action, suit, or proceeding, if authorized by the Board of Directors, upon receipt of an undertaking by or on behalf of the indemnitee to repay such amount, if it shall ultimately be determined that such indemnitee is not entitled to be indemnified hereunder.
%h2 Section 3. Insurance
%p The Organization may purchase and maintain insurance on behalf of any person who is or was a member, director, officer, employee, or agent against any liability asserted against such person and incurred by such person in any such capacity or arising out of such person’s status as such, whether or not the Organization would have the power or obligation to indemnify such person against such liability under this Article.
%h1 ARTICLE XI. BOOKS AND RECORDS
%p The Organization shall keep complete books and records of account and minutes of the proceedings of the Board of Directors. Minutes are of private record and are not to be posted or otherwise made publicly available. 
%p 
%h1 ARTICLE XII. AMENDMENTS
%h2 Section 1. Articles of Incorporation
%p The Articles of Incorporation may be amended in any manner at any regular or special meeting of the Board of Directors, provided that specific written notice of the proposed amendment of the Articles setting forth the proposed amendment or a summary of the changes to be effected thereby shall be given to each director at least three days in advance of such a meeting if delivered personally, by facsimile, or by e-mail or at least five days if delivered by mail. As required by the Articles, any amendment to Article III or Article VI of the Articles shall require the affirmative vote of all directors then in office. All other amendments of the Articles shall require the affirmative vote of an absolute majority of directors then in office.
%h2 Section 2. Bylaws
%p The Board of Directors may amend these Bylaws by majority vote at any regular or special meeting. Written notice setting forth the proposed amendment or summary of the changes to be affected thereby shall be given to each director within the time and the manner provided for the giving of notice of meetings of directors.
%p ADOPTION OF BYLAWS
%p We, the undersigned, representing the Acting Board of Directors, do hereby adopt the terms of this document, consisting of fourteen pages, inclusive of signatures, as the founding Bylaws of Our Revolution MN. 
%p ADOPTED AND APPROVED by the Acting Board of Director on this 19th day of April, 2017.
