%h1 Bylaws of Our Revolution MN [aka ORMN]

%p [we have no Constitution; we have Articles of Incorporation and we have these bylaws] [ORMN is a nonprofit corporation organized in Minnesota in 2017]  [This version of the bylaws was approved by the ORMN Board on 8.29.18]

%p [The 1.8.2017 Articles of Incorporation for Our Revolution MN [available online at our web site, https://ourrevolutionmn.com/] state, at Article IX - Bylaws: "The Board of Directors shall have the power to formulate, adopt, amend and/or repeal Bylaws. Upon implementation the Bylaws shall govern the operation and management of this corporation. The Bylaws are deemed subordinate to these Articles of Incorporation, and any conflict between these documents shall be resolved in favor of the Articles of Incorporation."]

%h1 PART ONE: ORMN: WHAT IS ORMN? WITH WHAT OTHER ORGANIZATIONS IS ORMN CONNECTED?

%h1 Article 1. ORMN name, legal status, how to find us, our purpose, our principles, the location of our office and our registered agent

%h2 1.1. ORMN name.
%p This organization is formally named "Our Revolution MN." We also use the names "Our Revolution Minnesota", "ORMN," "OR-MN," and "Our Rev MN."

%h2 1.2. ORMN Legal status.
%p ORMN is a "social welfare organization" as described in the Internal Revenue Code (IRC) section 501(c)(4). ORMN is a not for profit or non-profit organization as defined by Minnesota Statutes, Chapter 317A. ORMN has formal articles of incorporation and ORMN is incorporated pursuant to Minnesota law [Minnesota Statutes, Chapter 317A]. The ORMN corporation, and the "assumed names" used by ORMN, are on file with the Minnesota Secretary of State. ORMN's Articles of Incorporation are available on ORMN's web site, https://ourrevolutionmn.com/.

%h2 1.3. ORMN Purpose [why we exist].
%p ORMN is a group of people who live in the State of Minnesota and have joined together to [1] create and promote a platform of proposals for changes in local and state laws and regulations that will improve the lives of as many Minnesota residents as possible; [2] identify, endorse and support candidates for government office who will enact our platform; and [3] push candidates and elected officials to adopt our platform. Many of the members of ORMN also belong to chapters of Our Revolution in smaller areas within Minnesota.

%h2 1.4. ORMN principles [what we believe in]

%p 1.4.1. Our Revolution MN (ORMN) is committed to building and advancing the social, cultural, and economic issues exemplified by Bernie Sanders. ORMN seeks to fundamentally transform through popular power a system rigged by the political, social, and economic establishment to realize the promise of a just, equitable, sustainable, and democratic society.

%p 1.4.2. ORMN aims to transform government in Minnesota at all levels to embody our values and vision. We will do this through a combination of electoral action, issue advocacy, popular organization, and leadership development. We take a long view of the transformation we seek, the time it will take to realize it, and the eternal vigilance necessary to secure and defend it.

%p 1.4.3. ORMN is an independent political organization. It is not affiliated with any political party nor does it seek to become a political party. It does not seek to replace existing organizations and will collaborate with those who share our aims and agenda in whole or in part. It seeks to build a powerful movement for popular democracy.

%p 1.4.4. ORMN’s education and advocacy work will be driven by our values, vision, program, and strategy. It will not be candidate-centered or party-based. It will recruit and support credible leaders and members who embody the political revolution, often drawn from our own ranks or allied organizations or social movements.

%p 1.4.5. ORMN’s issue advocacy will advance the agenda of the Sanders-inspired political revolution. It seeks to confront and defeat a system rigged against the people by corporate and elite interests. It aims to realize an agenda along the lines of our values and vision, determined through the democracy of our organization. ORMN will work strategically to move our program forward. It recognizes that varying moments and opportunities require different approaches, from agitational aspiration to practical government.

%p 1.4.6. ORMN aims to be a popular organization governed by its members, who shall come from all parts and reflect the demography of the state. It is committed to developing member leadership through education, training, and involvement in the programmatic work and life of the organization. ORMN aims to be rooted in local grassroots organization of a large, engaged, and active membership, coordinated statewide. It is committed to nonviolence, bottom-up distributed organizing, and a recognizable statewide political entity backed by real power.

%p 1.4.7. ORMN wishes to build an organizational culture of shared struggle and a community to which people want to belong. To us, that means a community that is welcoming, inclusive, respectful, appreciative, and transparent and communicative, as well as demanding, orderly and accountable. ORMN prioritizes meaningful contribution of its members to the work of the organization, rooted in a shared analysis of how Minnesota got to where it is now and how we will create the change we seek. We are committed to shared educational, cultural, and other activities to foster the group cohesion and solidarity this community will need to meet the many challenges before it.

%h2 1.5. The location of the ORMN office.

%p ORMN has no physical office. ORMN holds Board of Directors meetings and Membership meetings at various locations in Minnesota. To see when and where ORMN will meet next, please see ORMN's web site, https://ourrevolutionmn.com/.

%h2 1.6. How to find or contact ORMN.
%p ORMN's web site is https://ourrevolutionmn.com/. ORMN's Facebook page is https://www.facebook.com/OurRevolutionMN/.

%h2 1.7. ORMN registered agent.
%p See MN Secretary of State web site under the business name "Our Revolution MN."


%h1 Article 2. ORMN affiliations: National and within Minnesota

%h2 2.1. ORMN national affiliations

%p 2.1.1. ORMN is affiliated with "Our Revolution." The national "Our Revolution" organization states on its web site that "Our Revolution is made up of local groups from all around the world." https://ourrevolution.com/groups/. ORMN is one of these "local groups."

%p 2.1.2. ORMN has a written agreement, called a "Memorandum of Understanding" [MOU] with the national "Our Revolution" organization. A copy of that MOU between ORMN and Our Revolution may be found at ORMN's web site, https://ourrevolutionmn.com/.


%h2 2.2. ORMN affiliations within Minnesota

%p 2.2.1. ORMN affiliations with other Our Revolution [the national organization] "Local Groups" located in Minnesota. As is noted in 2.1.1 above, ORMN is one of the "Local Groups" in Minnesota recognized by the national organization known as "Our Revolution." There are other "Local Groups" in Minnesota which are also recognized by the national "Our Revolution" organization. If ORMN has an affiliation with any such "Local [Our Revolution] Group," that affiliation is described in a formal agreement called a Memorandum of Understanding [MOU] and that MOU is displayed at ORMN's web site, https://ourrevolutionmn.com/.

%p 2.2.2. ORMN affiliations with organizations other than Our Revolution "Local Groups" If ORMN has an affiliation with any other organization, that affiliation is described in a formal agreement called a Memorandum of Understanding [MOU] and that MOU is displayed at ORMN's web site, https://ourrevolutionmn.com/.


%h1 PART TWO: WHO ARE ORMN'S MEMBERS?

%h1 Article 3. How to become an ORMN member; how ORMN membership may be terminated

%p 3.1. How to become a member of Our Revolution MN [ORMN]. Register online at ORMN's web site, https://ourrevolutionmn.com/members or at https://ourrevolutionmn.herokuapp.com/.

%p 3.2. Termination of ORMN Membership through resignation. An ORMN member may resign by submitting a resignation to the ORMN Board of Directors at board@ourrevolutionmn.com.

%p 3.3. Involuntary Termination of ORMN membership. No ORMN member may be deprived of ORMN membership except through noticed disciplinary proceedings. Grounds for termination of ORMN membership include [1] unethical or inappropriate behavior toward another person; [2] physical aggression or verbal harassment of another person]; [3] misuse of ORMN's resources or name for personal gain; or [4] gross violation of ORMN Principles. Termination requires a majority vote of the total membership of the ORMN Board.

%h1 Article 4. ORMN membership [who ORMN members are; ORMN member rights and dues]

%p 4.1. Individual ORMN members. Membership in Our Revolution MN [ORMN] is open to all Minnesota residents aged sixteen and over who support the principles of Our Revolution MN as stated in the "Our Revolution MN Principles" [which are listed in these bylaws, above in Article 1.4].

%p 4.2. ORMN Member Rights. All ORMN members may vote, may serve on the ORMN Board of Directors, and may participate in ORMN conventions and ORMN committees.

%p 4.3. ORMN Member dues and/or responsibilities. There are no ORMN member dues. Financial support of ORMN is encouraged but not required for ORMN membership.


%h1 PART THREE: HOW ORMN MEMBERS ARE GROUPED TO TAKE ACTION

%h1 Article 5. ORMN [Governing] Board of Directors: Function, number of directors, geographic and diversity requirements, how elected, length of terms, powers, and duties

%h2 5.1. Function of ORMN Board of Directors [aka ORMN Board].
%p The business of ORMN shall be managed by its Board of Directors [also referred to as "Board" or "ORMN Board"] consistent with ORMN's Articles of Incorporation, Minnesota Statutes Chapter 317A and these bylaws. The Board shall take an active role in furthering the principles of ORMN and ORMN Directors are encouraged and expected to be active advocates for the principles of ORMN. The ORMN Board may delegate the management of ORMN to a person or persons, or a committee, but all activities of ORMN shall be managed by or under the direction of, and subject to the oversight of, the ORMN Board.

%h2 5.2. Number of total ORMN Directors.
%p There shall be no less than five and no more than nineteen ORMN directors, including congressional district ORMN directors and state-wide ORMN directors.

%h2 5.3. Congressional district ORMN directors.
%p There shall be at least two ORMN directors from each of Minnesota's congressional districts, referred to as "Congressional District ORMN Directors." Only one Congressional District ORMN Director from each congressional district may identify as other than male and only one congressional district ORMN director from each congressional district may identify as other than female.

%h2 5.4. Diversity of ORMN Board.
%p The ORMN Board of Directors shall make reasonable efforts to promote diversity in electing and appointing ORMN directors. "Diversity" in this context means persons of color, indigenous and tribal members, low-income persons, non-gender binary identifying persons, persons of different sexual orientation, immigrants, and individuals under the age of thirty.

%h2 5.5. Election, Appointment, and Removal of ORMN Directors

%h3 5.5.1. Election of Congressional District ORMN Directors

%p [1] Congressional District ORMN Directors shall be elected at ORMN annual member meetings. Only the ORMN members residing in a congressional district may vote to elect the Congressional District ORMN Directors from that district.

%p [2] At the 2018 ORMN annual meeting, the four Congressional District ORMN Directors identifying as other than male elected from odd-numbered Congressional Districts and the four Congressional District ORMN Directors identifying as other than female elected from even-numbered Congressional Districts shall each serve [approximate] two-year terms. The other Congressional District ORMN Directors elected in 2018 shall each serve an [approximate] one-year term. The terms are referred to as approximate because they will expire at the time of the annual meeting and the annual meetings may not be exactly one year apart.

%p [3] Beginning with the annual meeting in 2019, the ORMN members shall elect directors to fill the spots of previously elected or appointed Congressional District ORMN Directors whose terms expire at the time of each annual meeting. Each of these elected Congressional District ORMN Directors shall serve an [approximate] two-year term.

%p 5.5.2. Appointment of Congressional District ORMN Directors between annual meeting If a Congressional district ORMN director resigns or is removed by the Board between annual meetings, the Board by majority vote of those Board members present for a meeting shall elect a replacement to serve the remainder of that Board member's term, adhering to the requirements of gender identity for Congressional district ORMN directors from each Congressional district.

%p 5.5.3. Appointment of "state-wide" ORMN directors. In addition to the Congressional district ORMN directors, the ORMN Board of Directors may from time to time, by majority vote, elect up to three [up to five, if Minnesota has only seven Congressional Districts] additional "state-wide" ORMN directors. Whenever possible, the ORMN Board shall appoint directors who will add diversity to the then-existing ORMN Board. "Diversity" in this context means persons of color, indigenous and tribal members, low-income persons, non-gender binary identifying persons, persons of different sexual orientation, immigrants, and individuals under the age of thirty.

%p 5.5.4. ORMN Directors must be members of ORMN for at least fourteen days before either their election or appointment.

%p 5.5.5. A Director of ORMN may be removed by a vote of a majority of the ORMN Board of Directors [not a majority of the quorum for a meeting but a majority of the total number of ORMN Board members]. Grounds for removal of an ORMN Board member are malfeasance [doing the job badly] or nonfeasance [not doing the job].

%p 5.5.6 Quorum of Board of Directors [1.8.2017 Articles of Incorporation for Our Revolution MN, Article V - Board of Directors and Members: "...The business of the Board of Directors shall be by a quorum, defined as a simple majority of Directors present at a start of a meeting called by the Acting Chair, with decisions to be decided upon by a majority vote of the members present."]

%p 5.5.7. Proxy voting by ORMN Directors is not allowed.

%p 5.5.8. Attendance at ORMN Board meetings by ORMN Directors by way of teleconference is allowed.

%p 5.5.9. There is no compensation for serving as an ORMN Director; nor is there any reimbursement of expenses incurred for such service.

%h1 Article 6: ORMN Officers

%h2 6.1. ORMN Officers. The ORMN Board shall elect [see Section 6.2, below, regarding method of election]: A Chairperson [or Chair], a Vice Chairperson [or Vice Chair], a Secretary and a Treasurer.

%h2 6.1.1. The ORMN Chair shall have the following duties:

%p [1] Presiding over all meetings of the ORMN Board of Directors and the ORMN Executive Committee;
%p [2] Either serving as parliamentarian or appointing a parliamentarian for all ORMN meetings;
%p [3] Preparing and providing to the ORMN Secretary for publication agendas for all ORMN meetings--ORMN Board of Directors' meetings, ORMN Executive Committee meetings and annual ORMN membership meetings;
%p [4] Supervising the implementation of all acts of the ORMN Board and the ORMN Executive Committee;
%p [5] Such other duties as determined by the ORMN Board.

%h3 6.1.2. The ORMN Vice Chair shall have the following duties:
%p [1] Serving as the Chair in the absence of the Chair at ORMN Board of Directors meetings or ORMN Executive Committee meetings or annual ORMN membership meetings;
%p [2] In the event of the resignation or removal of the ORMN Chair, serving as ORMN Chair until the ORMN Board of Directors elects a new ORMN Chair;
%p [3] Keeping a written account of, and control of, the assets of ORMN other than money--such as furniture and other property; if for example, property is donated to ORMN, the Vice Chair will take possession of that property and dispose of it as directed by the ORMN Board;
%p [4] The ORMN board vice chair shall be primarily responsible for overseeing ORMN committee activities and facilitating communications between the ORMN board and ORMN committees;
%p [5] Serve on the ORMN membership committee;
%p [6] Such other duties as determined by the ORMN Board.

%h3 6.1.3. The ORMN Secretary shall have the following duties:
%p [1] Taking minutes at all meetings of the ORMN Board and the ORMN Executive Board and at the annual ORMN Membership meetings; minutes shall record all votes and other actions taken at each such meeting;
%p [2] Circulating minutes to ORMN Directors promptly after each meeting to obtain corrections;
%p [3] Publishing minutes on ORMN's web site promptly after each meeting;
%p [4] Retaining the minutes of all ORMN meetings;
%p [5] Publishing meeting notices and agendas on the ORMN website as promptly as possible to give notice to all members;
%p [6] Retaining a copy of all formal resolutions adopted by the ORMN Board and of all actions, including correspondence of the ORMN Board and the ORMN Executive Committee;
%p [7] Keeping track of Board member attendance at Board meetings;
%p [8] Serve on the ORMN Communications committee;
%p [9] Such other duties as determined by the ORMN Board.

%h3 6.1.4. The ORMN Treasurer shall have the following duties:
%p [1] Keeping a written account of the money both [1] received by ORMN and [2] spent by ORMN;
%p [2] Maintaining one or more credit union or bank accounts for the money of ORMN;
%p [3] Reporting changes to ORMN finances at ORMN Board meetings;
%p [4] Cooperating with the ORMN Board in audits conducted of ORMN finances;
%p [5] Serve on the ORMN Finance Committee;
%p [6] Such other duties as determined by the ORMN Board.

%h2 6.2. Election of ORMN Officers.
%p ORMN officers shall be elected by majority vote of those present for an ORMN Board meeting or a majority of the current membership of the ORMN Board of Directors. In the event of a vacancy in an ORMN Officer position, the ORMN Secretary shall give all ORMN Board members notice of the vacancy and invite all ORMN Board members to apply for election to the office. Any ORMN Director interested in being elected to fill an ORMN Officer vacancy may self-nominate through email to all ORMN Directors; and as part of either nomination or self-nomination the nominee is encouraged to share a statement of qualifications and goals related to the position.

%h2 6.3. Resignation or Removal of ORMN Officers.
%p An ORMN Officer may resign at any time. The ORMN Board of Directors may remove an ORMN Officer through a vote of a majority of those present at a meeting of the ORMN Board of Directors.

%h2 6.4. ORMN Executive Committee.
%p The ORMN Executive Committee consists of the ORMN Chair, the ORMN Vice Chair, the ORMN Secretary, and the ORMN Treasurer. Duties and powers of the ORMN Executive Committee are set forth in these bylaws, Section 8.2.


%h1 Article 7. ORMN Committees.
%p ORMN Committees generally: purpose of ORMN committees, ORMN board members on committees; chairs, and vice chairs and members of ORMN committees

%h2 7.1. ORMN Committees generally: how formed.
%p Committees may be created or dissolved by a majority vote of the ORMN Board of Directors. Each committee shall have its membership, purpose and authority directed, in writing, by the ORMN Board, and this information about each ORMN Committee shall be posted on ORMN's web site.

%h2 7.2. ORMN Committees: purpose of ORMN committees, ORMN board members on committees; chairs, and vice chairs and members of ORMN committees

%p [1] the purpose of ORMN committees is to help carry out the principles of ORMN as stated in Article 1.4 of these ORMN bylaws;
%p [2] in addition to an ORMN Executive Committee [subpart 7.2. [11]] below, ORMN shall strive to have an ORMN Membership Committee, an ORMN Finance Committee, an ORMN Communications Committee, and an ORMN Technology Committee.
%p [3] Other ORMN committees may be created or dissolved by a majority vote of the ORMN Board of Directors;
%p [4] All ORMN committees and their members, including ORMN board members, shall be displayed on ORMN's web site, https://ourrevolutionmn.com/;
%p [5] the ORMN board shall from time to time set goals or objectives for each ORMN committee and these goals or objectives shall be displayed on ORMN's web site, https://ourrevolutionmn.com/;
%p [6] the ORMN board vice chair shall be primarily responsible for overseeing ORMN committee activities and facilitating communications between the ORMN board and ORMN committees;
%p [7] these ORMN board officers shall be members of these ORMN committees:
%p [7A] the ORMN board vice chair shall be a member of the ORMN Membership committee.
%p [7B] the ORMN board treasurer shall be a member of the ORMN Finance Committee.
%p [7C] the ORMN board secretary shall be a member of the ORMN Communications Committee.
%p [8] Other ORMN board members shall each serve on at least one ORMN committee and an ORMN board member serving on each ORMN committee shall also serve as the liaison between the ORMN board and the ORMN committee;
%p [9] a chair for each ORMN committee will initially be appointed by the ORMN board and the ORMN board may temporarily appoint an ORMN committee chair in the absence of a chair elected by the ORMN committee; but the members of each ORMN committee shall elect chairs and vice chairs for their respective ORMN committees;
%p [10] the chair and vice chair of each ORMN committee shall not both identify as the same gender;
%p [11] the ORMN Executive Committee consists of the ORMN Chair, the ORMN Vice Chair, the ORMN Secretary, and the ORMN Treasurer.
%p [12] ORMN members other than ORMN Board members may be appointed to an ORMN committee by the ORMN board or by the chair or vice chair of that ORMN committee; ORMN members may also be removed from ORMN committees by the ORMN board or by the chair or vice chair of the ORMN committee.

%h2 7.3. Committees. In addition to the

%p [1] Executive Committee [Article 7.2 [11], above], ORMN shall strive to have
%p [2] an ORMN Outreach and Membership Committee;
%p [3] an ORMN Platform Committee;
%p [4] an ORMN Finance Committee;
%p [5] an ORMN Communications Committee [which includes Social Media, and involves all aspects of dealing with all media];
%p [6] an ORMN Endorsements Committee;
%p [7] an ORMN Events Committee;
%p [8] an ORMN Grievance Committee;

%h2 7.4. The ORMN Executive Committee shall act as the ORMN Board of Directors between ORMN Board meetings.

%h2 7.5. Each ORMN Committee shall adopt rules that shall be approved by the ORMN Board and posted on ORMN's web site.


%h1 PART FOUR: HOW ORMN MEMBERS AND GROUPS OF ORMN MEMBERS DO THINGS

%h1 Article 8: ORMN Members Annual Meetings.
%p The ORMN Board of Directors shall schedule an annual meeting, to be held in summer or fall of each year. The site and agenda for the annual meeting shall be published on ORMN's web site at least one month before the meeting. The agenda shall include election of Congressional District ORMN Directors and such other items as the Board designates. All ORMN members are welcome to attend the annual meeting but only those who have been members for at least seven days before the annual meeting will be allowed to vote.

%h1 Article 9: ORMN Board of Directors Meetings: Regular meetings, Special meetings; Notice of Meetings

%h2 9.1. Regular ORMN Board of Directors Meetings.
%p The ORMN Board of Directors shall meet at least quarterly at a place and time determined by the Board and published on the ORMN web site at least seven calendar days before each meeting.

%h2 9.2. Special ORMN Board of Directors Meetings.
%p A special meeting of the ORMN Board should be a rare event [most business between regular meetings should be handled by the Executive Committee] but may be called by either the Board Chair or a majority of Board members with three days of notice to all Board members [and that 3-day notice requirement may be waived by a unanimous vote of Board members].


%h1 Article 10. Conflict of Interest and Compensation

%h2 10.1 Purpose
%p The purpose of the conflict of interest policy is to protect this organization’s interest when contemplating entering into a contractual agreements or other arrangements that may result in emoluments to the undisclosed interest of a member of the organization. This policy is intended to supplement but not replace any applicable state and federal laws governing conflict of interest applicable to nonprofit and charitable organizations.

%h2 10.2 Definitions

%p a. Interested Party: Any director, officer, or member of a committee with governing authority, who has a direct or indirect financial interest, as defined below, and, any member of the organization who possesses a pecuniary or financial interest in the outcome ORMN contractual agreements or other arrangements, is an Interested Party.

%p b. Financial Interest: An individual possesses a financial interest if the person has, directly or indirectly, through business, investment, or family: 1. An ownership or investment interest in any entity with which the Organization has a transaction or arrangement, 2. A compensation arrangement with the Organization or with any entity or individual with which the Organization has a transaction or arrangement, or, 3. A potential ownership or investment interest in, or compensation arrangement with, any entity or individual with which the Organization is negotiating a transaction or arrangement; and, 4. Compensation includes direct and indirect remuneration, as well as gifts or favors that are not insubstantial.

%p c. A financial interest is not necessarily a conflict of interest: Under Article III, Section 2, a person who has a financial interest may also have a conflict of interest if the appropriate governing Board or committee decides that a conflict of interest exists.

%p d. In the event of a known but undisclosed financial interest, such conduct will be presumptively deemed a conflict of interest if learned by the Board of Directors after the fact.

%h2 10.3. Procedures

%p a. Duty to Disclose. In connection with any actual or potential conflict of interest, an Interested Party must disclose the existence of the financial interest, and, be given opportunity to disclose all material facts to the Executive Committee, and, members of committees with interest in the proposed transaction or arrangement.

%p b. Determining Whether a Conflict of Interest Exists. After disclosure of the financial interest and all material facts, and after any discussion with the Interested Party, the Interested Party shall take leave of reviewing entity while the determination of a conflict of interest is discussed. In the event of a vote, the remaining Board or committee members shall decide if a conflict of interest exists, and if determined to exist, whether remedies removing or ameliorating the conflict may be pursued, as described below.

%p c. Procedures for Addressing the Conflict of Interest:

%p 1. An Interested Party may, at their election, make a presentation to the reviewing entity. After presentation, the interested shall leave the meeting during the discussion of, and the vote on, the transaction or arrangement involving the possible conflict of interest.
%p 2. The Chairperson of the governing Board or committee shall, if appropriate, appoint a disinterested party or committee to investigate alternatives to the proposed transaction or arrangement.
%p 3. After exercising due diligence, the governing Board or committee shall determine whether the Organization can obtain with reasonable efforts a more advantageous transaction or arrangement from a person or entity that would not give rise to a conflict of interest.
%p 4. If a more advantageous transaction or arrangement is not reasonably possible under circumstances not producing a conflict of interest, the governing Board or committee shall determine by a majority vote of the disinterested directors whether the transaction or arrangement is in the Organization’s best interest, for its own benefit, and whether it is fair and reasonable. In conformity with the above determination it shall make its decision as to whether to enter into the transaction or arrangement.

%p d. Violations of the Conflicts of Interest Policy

%p 1. If the governing Board or committee has reasonable cause to believe a member has failed to disclose actual or possible conflicts of interest, it shall inform the member of the basis for such belief and afford the member an opportunity to explain the alleged failure to disclose.

%p 2. If, after hearing the member’s response and after making further investigation as warranted by the circumstances, the governing Board or committee determines the member has failed to disclose an actual or possible conflict of interest, it shall take appropriate disciplinary and corrective action.

%h2 10.4. Records of Proceedings

%p The official record of such proceedings shall contain:

%p The names of the persons who disclosed or otherwise were found to have a financial interest in connection with an actual or possible conflict of interest, the nature of the financial interest, any action taken to determine whether a conflict of interest was present, and the governing Board and/or committee decision as to whether a conflict of interest existed. The names of the persons who were present for discussions and votes relating to the transaction or arrangement, the content of the discussion, including any alternatives to the proposed transaction or arrangement, and a record of any votes taken in connection with the proceedings.

%h2 10.5. Compensation

%p a. A member of the governing Board who receives compensation, directly or indirectly, from the Organization for services is precluded from voting on matters pertaining to that member’s compensation.

%p b. A member of any committee whose jurisdiction includes compensation matters and who receives compensation, directly or indirectly, from the Organization for services is precluded from voting on matters pertaining to that member’s compensation.

%p c. No member of the governing Board or any committee whose jurisdiction includes compensation matters and who receives compensation, directly or indirectly, from the Organization, either individually or collectively, is prohibited from providing information to any committee regarding compensation.

%h2 10.6. Annual Statements.
%p Each ORMN Officer, ORMN Director, or member of an ORMN committee shall annually sign a statement which affirms such person:
%p a. Has received a copy of the conflicts of interest policy;
%p b. Has read and understands the policy;
%p c. Has agreed to comply with the policy; and
%p d. Understands the Organization is charitable in designation, and, to maintain its federal tax exemption, it must engage primarily in activities satisfying one or more of its tax-exempt purposes.

%p 10.7. Periodic Reviews. To ensure the Organization operates in a manner consistent with charitable purposes and does not engage in activities that could jeopardize its tax-exempt status, periodic reviews shall be conducted. The periodic reviews shall, at a minimum, include the following subjects:

%p a. Whether compensation arrangements and benefits are reasonable, based on competent survey information, and the result of arm’s length bargaining.

%p b. Whether partnerships, joint ventures, and arrangements with management organizations conform to the Organization’s written policies, are properly recorded, reflect reasonable investment or payments for goods and services, further charitable purposes and do not result in inurement, impermissible private benefit or in an excess benefit transaction. To ensure the Organization operates in a manner consistent with its vision and mission, the following periodic review may be conducted: A. Strategic Plan or B. Annual Operating Plan.

%p 10.8. Use of Outside Experts. When conducting periodic reviews as provided for in Article VII, or in the conduct of its business, the Organization may, but need not, use outside advisors. If outside experts are used, their use shall not relieve the governing Board of its responsibility for ensuring periodic reviews are conducted.

%p 10.9. Local Chapter Governance. Individual groups requesting membership as a recognized local unit of ORMN must complete a Memorandum of Understanding (MOU) outlining the responsibilities and privileges accruing to each party. The document is to be executed by the chair of the ORMN Board and the chair of the local unit body. The agreement may be terminated as per the terms in the MOU by either party.


%h1 Article 11. Indemnification

%h2 11.1. General
%p To the full extent authorized under the laws of the State of MN, the Organization shall indemnify any director, officer, employee, or agent, or former member, director, officer, employee, or agent of the Organization, or any person who may have served at the Organization’s request as a director or officer of another Organization (each of the foregoing members, directors, officers, employees, agents, and persons is referred to in this Article individually as an “indemnitee”), against expenses actually and necessarily incurred by such indemnitee in connection with the defense of any action, suit, or proceeding in which that indemnitee is made a party by reason of being or having been such member, director, officer, employee, or agent, except in relation to matters as to which that indemnitee shall have been adjudged in such action, suit, or proceeding to be liable for negligence or misconduct in the performance of a duty. The foregoing indemnification shall not be deemed exclusive of any other rights to which an indemnitee may be entitled under any bylaw, agreement, resolution of the Board of Directors, or otherwise applicable as a matter of local, state, or federal law.

%h2 11.2. Expenses
%p Expenses incurred in defending a civil or criminal action, suit, or proceeding, including but not limited to costs, fees, and reasonable attorneys’ fees, may be paid by the Organization in advance of the final disposition of such action, suit, or proceeding, if authorized by the Board of Directors, upon receipt of an undertaking by or on behalf of the indemnitee to repay such amount, if it shall ultimately be determined that such indemnitee is not entitled to be indemnified hereunder.

%h2 11.3. Insurance
%p The Organization may purchase and maintain insurance on behalf of any person who is or was a member, director, officer, employee, or agent against any liability asserted against such person and incurred by such person in any such capacity or arising out of such person’s status as such, whether or not the Organization would have the power or obligation to indemnify such person against such liability under this Article.


%h1 Article 12: Books and Records. The Organization shall keep complete books and records of account and minutes of the proceedings of the Board of Directors.


%h1 Article 13: Amendments

%h2 13.1. Amendments to Articles of Incorporation
%p The Articles of Incorporation may be amended in any manner at any regular or special meeting of the Board of Directors, provided that specific written notice of the proposed amendment of the Articles setting forth the proposed amendment or a summary of the changes to be effected thereby shall be given to each director at least three days in advance of such a meeting if delivered personally, by facsimile, or by e-mail or at least five days if delivered by mail. As required by the Articles, any amendment to Article III or Article VI of the Articles shall require the affirmative vote of all directors then in office. All other amendments of the Articles shall require the affirmative vote of an absolute majority of directors then in office.
%h2 13.2. Amendments to Bylaws.
%p The ORMN Board of Directors may amend these Bylaws through a majority vote of the current membership of the ORMN Board of Directors at any regular or special meeting. Written notice setting forth the proposed amendment or summary of the changes to be affected thereby shall be given to each director within the time and the manner provided for the giving of notice of meetings of directors.

