%h2 Our Revolution MN Code of Ethics
%p.italicize Respect for the communities we work with and serve.
%p.italicize Integrity in our actions.
%p.italicize Responsibility for our decisions and their consequences.
%p We are committed to:
%ul
  %li Acting honestly and truthfully in all interactions;
  %li Avoiding conflicts of interest;
  %li Appropriately handling actual or apparent conflicts of interest in our relationships;
  %li Safeguarding member information;
  %li Treating our members and community partners with respect and dignity;
  %li Respecting each individual’s unique and intrinsic worth;
  %li Being a good corporate citizen and complying with both the spirit and the letter of the law;
  %li Acting responsibly toward the communities in which we work and for the benefit of the communities that we serve;
  %li Being responsible, transparent and accountable for all of our actions; and
  %li Maintaining a no tolerance stance for harassment.

%p
  Our Revolution MN has adopted a zero-tolerance policy toward discrimination and all forms of unlawful
  harassment, including but not limited to sexual harassment.
%p
  This zero tolerance policy means that no form of unlawful discriminatory or harassing conduct by or
  towards any member, board member, volunteer or community member will be tolerated. Our Revolution
  MN’s board is committed to enforcing its policy at all levels within Our Revolution MN. Any member,
  volunteer or board member who engages in prohibited discrimination or harassment will be subject
  to discipline, up to and including removal from leadership or membership for a first offense.
%p
  %span.strong Conduct Covered by this Policy:
  This policy applies to and prohibits all forms of illegal harassment and discrimination, not only
  sexual harassment. Accordingly, Our Revolution MN absolutely prohibits harassment or discrimination
  based on sex, age, disability, perceived disability, marital status, personal appearance, sexual
  orientation, race, color, religion, national origin, veteran status or any other legally
  protected characteristic.
%p
  %span.strong Sexual Harassment:
  Because confusion often arises concerning the meaning of sexual harassment in particular, it
  deserves special mention. Sexual harassment may take many forms, including the following:
  %ul
    %li
      Offensive and unwelcome sexual invitations, whether or not the individual submits to the invitation,
      and particularly when a spoken or implied quid pro quo for sexual favors is a benefit of employment
      or continued employment;
    %li
      Offensive and unwelcome conduct of a sexual nature, including sexually graphic spoken comments;
      offensive comments transmitted by e-mail or another messaging system; offensive or suggestive
      images or graphics whether physically present in the workplace or accessed over the Internet;
      or the possession of or use of sexually suggestive objects; and
    %li
      Offensive and unwelcome physical contact of a sexual nature, including the touching of
      another’s body; the touching or display of one’s own body, or any similar contact.
%p
  %span.strong Social media interactions in your role as an Our Revolution MN member or board member:
  Individuals are particularly cautioned that the use of e-mail, Facebook, Twitter, or other online
  messaging boards may give rise to liability for harassment.
%p
  %span.strong Procedures in Cases of Harassment:
  Any Our Revolution MN member who believes that she or he has been subjected to unlawful harassment of
  any kind has the responsibility to report the harassment immediately to the Our Revolution MN board
  or Chair of Our Revolution MN. Our Revolution MN is committed to taking all reasonable steps to
  prevent harassment, and will make every reasonable effort promptly and completely to address and
  correct any harassment that may occur. Every report of harassment will be investigated promptly
  and impartially, with every effort to maintain confidentiality. The complainant and the accused
  will be informed of the results of the investigation. If Our Revolution MN finds that its policy
  has been violated, it will take appropriate corrective and remedial action, up to and including
  discharge of offending officers or members.
%p
  %span.strong Reporting Without Fear of Retaliation:
  No Our Revolution MN member or board member will be retaliated against for reporting harassment.
  This no-retaliation policy applies whether a good faith complaint of harassment is well
  founded or ultimately determined to be unfounded.