%p.privacy_policy_notice
  We take your privacy seriously. We don't share your information with any third party entities.
  Please read our full
  = link_to("privacy policy.", privacy_policy_users_path, target: '_blank')
  Also see the privacy controls below.
