- events.each do |event|
  = render partial: 'events/show', locals: {event: event, show_description: false, show_rsvp: true, show_stats: show_stats, event_rsvp: user.event_rsvps.where(event: event).first}