%h2= @election.name


- if @election.races.empty? && @election.external?
  %h4 There are no races for this election, click Add Race to add one
- else
  - @election.races.each do |race|
    = render partial: 'races/show', locals: { race: race }

.actions
  = link_to("Add Race", new_election_race_path(@election), class: 'btn btn-sm btn-primary')