= semantic_form_for @candidacy do |f|
  - if f.object.answers.blank?
    = render partial: 'questionnaire_sections/show', locals: { section: @section, edit_tools: true }
  - else
    = render partial: 'answers/form', locals: { f: f, edit_tools: true, read_only: false }