%table.table
  %thead
    %tr.row
      %th Name
      %th Number of Members
  %tbody
    - chapters.each do |chapter|
      %tr.row
        %td= link_to(chapter.name, chapter)
        %td= chapter.members.count
