%h2 Chapters

= render partial: 'chapters/stats_table', locals: { chapters: @chapters, show_actions: true }

- if can?(current_user, :new, Chapter)
  = link_to "New Chapter", new_chapter_path, class: 'btn btn-sm btn-success'
