/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require formtastic-bootstrap
 * require_tree .
 *= require bootstrap_and_overrides
 *= require_self
 *= require formtastic
 */

.bylaws h1 {
    font-size: 16pt;
}

.bylaws h2 {
    font-size: 14pt;
}

.bylaws h3 {
    font-size: 12pt;
}

.bylaws p {
    font-size: 10pt;
}
.bylaws li {
    font-size: 10pt;
}

.privacy_policy_notice {
    padding: 15px;
    background-color: lightyellow;
    color: black;
}

form.formtastic .stringish input {
    width: 100%;
}

.formtastic input.btn-with-padding {
    padding: 5px;
}

form.formtastic .accepted_bylaws label {
    padding-left: 20px;
    font-weight: bold;
}

form.formtastic .accepted_bylaws #user_accepted_bylaws {
    margin-left: -20px;
    margin-top: 5px;
}

form.formtastic .accepted_bylaws #user_run_for_state_board {
    margin-left: -20px;
    margin-top: 5px;
}

form.formtastic .accepted_bylaws #user_interested_in_volunteering {
    margin-left: -20px;
    margin-top: 5px;
}

form.formtastic .accepted_bylaws #user_member_attributes_interested_in_starting_chapter {
    margin-left: -20px;
    margin-top: 5px;
}

form.formtastic .questionnaire-fields .choice {
    margin-left: 30px;
}

.bylaws {
    background-color: #EEEEEE;
    padding: 10px;
}

.navbar-brand {
    padding: 0 15px;
}

.logo {
    background-image: url(/images/logo-32.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 15px 0 0 42px;
    height: 50px;
}

.left-pane {
    position: relative;
}

.left-pane-inner {
    overflow-x: auto;
    overflow-y: visible;
}

.error-link {
    color: red;
}
