/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require formtastic-bootstrap
 * require_tree .
 *= require bootstrap_and_overrides
 *= require_self
 *= require formtastic
 *= require bootstrap-datepicker
 */

.event-title {
    font-weight: bold;
    font-size:   14pt;
}

.bylaws h1 {
    font-size: 16pt;
}

.bylaws h2 {
    font-size: 14pt;
}

.bylaws h3 {
    font-size: 12pt;
}

.bylaws p {
    font-size: 10pt;
}
.bylaws li {
    font-size: 10pt;
}

.privacy_policy_notice {
    padding: 15px;
    background-color: lightyellow;
    color: black;
}

form.formtastic {
    margin-bottom: 20px;
}

.updated {
    color: lightgrey;
}

.help-text {
    background-color: lightblue;
    padding: 10px 5px 10px 5px;
    margin: 10px 0px 10px 0px;
}

.note {
    color: blue;
}

.strong {
    font-weight: bold;
}

.vote-actions {
    margin-top: 10px;
}

form.formtastic p.bylaws_link {
    padding: 15px;
    background-color: lightblue;
    color: black;
}

form.formtastic .stringish input {
    width: 100%;
}

.formtastic input.btn-with-padding {
    padding: 5px;
}

form.formtastic .check_box_or_radio label {
    padding-left: 25px;
    font-weight: bold;
}

form.formtastic .check_box_or_radio #race_is_official {
    margin-left: -20px;
    margin-top: 5px;
}

form.formtastic .check_box_or_radio #user_accepted_bylaws {
    margin-left: -20px;
    margin-top: 5px;
}

form.formtastic .check_box_or_radio #user_run_for_state_board {
    margin-left: -20px;
    margin-top: 5px;
}

form.formtastic .check_box_or_radio #user_interested_in_volunteering {
    margin-left: -20px;
    margin-top: 5px;
}

form.formtastic .check_box_or_radio #user_member_attributes_interested_in_starting_chapter {
    margin-left: -20px;
    margin-top: 5px;
}

form.formtastic .questionnaire-fields .choice {
    margin-left: 30px;
}

form.formtastic p.in-formtastic {
    margin-top: 5px;
    margin-bottom: 0px;
}

form.formtastic ul.in-formtastic {
    margin-top: 10px;
    margin-bottom: 10px;
}

form.formtastic li.in-formtastic {
    margin-left: 30px;
    list-style-type: disc;
}

form.formtastic select.form-control.narrow {
    width: 50px;
    display: inline;
}

.race-dates {
    margin-left: 20px;
}
.race-candidacies {
    margin-left: 20px;
}
.race-actions {
    margin-left: 20px;
}

.issue-actions {
  margin-left: 20px;
}

.answers {
    list-style: circle;
}

.bylaws {
    background-color: #EEEEEE;
    padding: 10px;
}

.navbar-brand {
    padding: 0 15px;
}

.logo {
    background-image: url(/images/logo-32.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 15px 0 0 42px;
    height: 50px;
}

.left-pane {
    position: relative;
}

.left-pane-inner {
    overflow-x: auto;
    overflow-y: visible;
}

.countdown {
    font-size: 36px;
    font-weight: bold;
}

.error {
    color: red
}

.error-link {
    color: red;
}
.navbar-default{
  background-color: #147FD7;
  background-image: url("MG_6506-sm-3-alt.png");
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
}
.navbar-brand .logo{
  color:#fff;
}
.navbar-default .navbar-text,
.navbar-default .navbar-nav>li>a,
.navbar-brand .logo,
.navbar-brand .logo a{
  color: #fff;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #fff;
}
