/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require formtastic-bootstrap
 *= require bootstrap_and_overrides
 *= require ourrev
 * require_tree .
 *= require_self
 *= require formtastic
 */

body {
    margin-bottom: 30px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
}

.navbar-default {
    background-image: url("//i.imgur.com/vgm7SWe.jpg");
    background-size: 100%;
}

.navbar-default .navbar-text,
.navbar-default .navbar-nav > li > a,
.navbar-brand .logo,
.navbar-brand .logo a {
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: transparent;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    width: 100%;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
}

.formtastic .stringish input,
.formtastic .text textarea {
    padding-left: 8px;
}

.formtastic abbr,
.formtastic acronym {
    text-decoration: none;
}

.bylaws h1 {
    font-size: 16pt;
}

.bylaws h2 {
    font-size: 14pt;
}

.bylaws h3 {
    font-size: 12pt;
}

.bylaws p {
    font-size: 10pt;
}
.bylaws li {
    font-size: 10pt;
}

.privacy_policy_notice {
    padding: 15px;
    background-color: lightyellow;
    color: black;
}

form.formtastic .stringish input {
    width: 100%;
}

.formtastic input.btn-with-padding {
    padding: 5px;
}

form.formtastic .accepted_bylaws label {
    padding-left: 20px;
    font-weight: bold;
}

form.formtastic .accepted_bylaws #user_accepted_bylaws {
    margin-left: -20px;
    margin-top: 5px;
}

form.formtastic .accepted_bylaws #user_run_for_state_board {
    margin-left: -20px;
    margin-top: 5px;
}

form.formtastic .accepted_bylaws #user_interested_in_volunteering {
    margin-left: -20px;
    margin-top: 5px;
}

form.formtastic .accepted_bylaws #user_member_attributes_interested_in_starting_chapter {
    margin-left: -20px;
    margin-top: 5px;
}

form.formtastic .questionnaire-fields .choice {
    margin-left: 30px;
}

.bylaws {
    background-color: #EEEEEE;
    padding: 10px;
}

.logo {
    /* background-image: url(/images/logo-32.jpg); */
    background-image: url("//i.imgur.com/wcudyo8.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
}

.left-pane {
    position: relative;
}

.left-pane-inner {
    overflow-x: auto;
    overflow-y: visible;
}

.error-link {
    color: red;
}
