%h2 Waiting to vote in #{@election.name}

The voting will commence in

.countdown

/While you wait, check out the candidate questionnaire responses below

/= render partial: 'candidacies/table', locals: { race: @race, candidacies: @race.candidacies }

:javascript
  var secs_left = #{(@election.vote_start_time - Time.zone.now)}

  $(function() {
    secs_left = display_time(".countdown", secs_left)

    setInterval(function() {
      secs_left = display_time(".countdown", secs_left)

      var refresh_time = 30;
      if (secs_left < 30) {
        refresh_time = Math.floor(Math.random() * 10)
      }

      console.log("secs left = " + secs_left)
      if (secs_left <= 0 || Math.floor(secs_left % refresh_time) == 0) {
        reload_votes()
      }
    }, 1000)
  })

