%h2 Waiting to vote in #{@race.name}

The voting will commence in

.countdown

:javascript
  var secs_left = #{(@race.vote_start_time - Time.zone.now)}

  $(function() {
    secs_left = display_time(".countdown", secs_left)

    setInterval(function() {
      secs_left = display_time(".countdown", secs_left)

      console.log("secs left = " + secs_left)
      if (secs_left <= 0 || Math.floor(secs_left % 5) == 0) {
        window.location = "/races/17/votes";
      }
    }, 1000)
  })

