.row
  .col-md-12
    = f.input :chapter, as: :select, collection: Chapter.collection_hash(current_user.selected_account), include_blank: false, input_html: { disabled: disabled }, hint: "Affiliate - has signed a Memorandum of Understanding (MOU) with the State organization, Recognized - has been recognized by State and National, but hasn't signed an MOU with State"
.row
  .col-md-12
    .check_box_or_radio
      = f.input :interested_in_starting_chapter, hint: 'Check this if you don\'t have chapter in your area and would like to start one', input_html: { disabled: disabled }
