= semantic_form_for member do |f|
  - if f.object.user
    = fields_for :user do |ff|
      ff.input :role_assignments, as: :select, multiple: true, collection: Role.all
      ff.input :officer_assignments, as: :select, multiple: true, collection: Officer.all
    %hr
    = render partial: :user_details, locals: { f: f, disabled: true }
  - else
    = render partial: :user_details, locals: { f: f, disabled: true }
